@import '../../styles/settings.scss';

.columnForm { 
    text-align: center;
    padding: 10px;
}

span.formTitle {
    margin-inline: 7px;
}

@media (max-width: 767px) {

    .columnForm {
    display: grid;
    justify-content: center;
    }
}