@import '../../styles/settings.scss';

.nav {
    display: inline-block;
    background-color: darken($color-dark, 3%);
    width: 100%
}

.navi {
    display: flex;
    justify-content: space-between;
}

.icon {
    font-size: 24px;
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    
    li {
        padding-inline: 7px;
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: white;
    }
    
    .linkActive {
        color: $color-warning;
    }
}

.linkActive {
    color: $color-warning;
}